body {
    background-color: black;
}

.metronomebody {
    background-color: grey;
    border-radius: 120px;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin: auto;
    text-align:center;
  }

  .tempoboxpadding {
    margin: auto;
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .tempobox {
    background-color: rgb(230, 230, 230);
    margin: auto;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tempotext {
    height: 20px;
  }
  
.slidecontainer {
    padding-top: 60px;
    margin: auto;
    text-align:center;
  }